<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="panel-caption">{{ panelCaption|default('KAYITLAR')  }}</h3>
        {% if panelCaptionText %}
            <p class="panel-caption-text">{{ panelCaptionText }}</p>
        {% endif %}


        <table class="table table-hover">
            <thead>
            <tr>
                {% if panelTable.checkbox is sameas(true) %}
                    <th class="table-check">
                        <div class="checkbox checkbox-primary">
                            <input title="Check All" type="checkbox">
                            <label></label>
                        </div>
                    </th>
                {% endif %}
                {% for cell in panelTable.cells %}
                    <th class="{{ cell.class }}">{{ cell.caption }}</th>
                {% endfor %}
                <th class="text-right">İşlemler</th>
            </tr>
            </thead>
            <tbody>
            {% if (records) %}
                {% for record in records %}
                    <tr>
                        {% if panelTable.checkbox is sameas(true) %}
                            <td>
                                <div class="checkbox checkbox-primary">
                                    <input title="Check" type="checkbox">
                                    <label></label>
                                </div>
                            </td>
                        {% endif %}

                        {% for cell in panelTable.cells %}
                            <td class="{{ cell.class }}">
                                {% if cell.callable %}
                                    {{ attribute(record, cell.column)|callable(cell.callable)|raw }}
                                {% else %}
                                    {{ attribute(record, cell.column) }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td class="table-action">
                            {% if panelTable.update is sameas(true) %}
                                <a href="#"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                            {% if panelTable.delete is sameas(true) %}
                                <a href="#"><i class="fa fa-times"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            </tbody>
        </table>
    </div>

    <div class="panel-footer">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>